.wrapper {
    display: grid;
    /* grid-template-columns: 10rem 10rem 10rem; */
    grid-template-columns: repeat(3, 10rem);

    /* taking up as much space as they can while still fitting in three columns */
    /* grid-template-columns: 1fr 1fr 1fr; */

    /* grid-template-columns: 10rem 1fr 10rem; */
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.item5 {
    grid-column: span 3;
  }