/* Was for a project ~ archiving it for later reference */


/* Sessions page styling
.session-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.session-content .day-1, .session-content .day-2, .session-content .day-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:10px;
    position: relative;
} 
.session-content .day-1 .day-text, .session-content .day-2 .day-text, .session-content .day-3 .day-text {
    margin-left: 10px;
    font-weight: bolder;
    font-size: 2em;
    color: #0b6623;
}
.session-content .day-1 .day-text, .session-content .day-1 .speaker-1, .session-content 
.day-2 .day-text, .session-content .day-2 .speaker-1, .session-content .day-3 .day-text, 
.session-content .day-3 .speaker-1 {
    padding: 10px;
}
.session-content .day-1 .speaker-1, .session-content .day-2 .speaker-1, .session-content .day-3 .speaker-1,   
.session-content .day-1 .speaker-2, .session-content .day-2 .speaker-2, .session-content .day-3 .speaker-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    border: lightgrey 2px solid;
    margin: 5px;

    Flipping card ~ remove this to go back to default
    position: absolute; 
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
}

.session-content .day-1 .speaker-1 .speaker-image, .session-content .day-2 .speaker-1 .speaker-image, 
.session-content .day-3 .speaker-1 .speaker-image  {
    display: flex;
    padding: 20px;
}
.session-content .day-1 .speaker-1 .speaker-image img, .session-content .day-2 .speaker-1 .speaker-image img, 
.session-content .day-3 .speaker-1 .speaker-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #7bdd95;
}

.session-content .day-1 .speaker-1 .speaker-info, .session-content .day-2 .speaker-1 .speaker-info, 
.session-content .day-3 .speaker-1 .speaker-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
}

.session-content .day-1 .speaker-1 .speaker-info span:nth-child(2), 
.session-content .day-1 .speaker-1 .speaker-info span:nth-child(4),
.session-content .day-1 .speaker-2 .speaker-info span:nth-child(2), 
.session-content .day-1 .speaker-2 .speaker-info span:nth-child(4),
.session-content .day-2 .speaker-1 .speaker-info span:nth-child(2), 
.session-content .day-2 .speaker-1 .speaker-info span:nth-child(4),
.session-content .day-2 .speaker-2 .speaker-info span:nth-child(2), 
.session-content .day-2 .speaker-2 .speaker-info span:nth-child(4),
.session-content .day-3 .speaker-1 .speaker-info span:nth-child(2), 
.session-content .day-3 .speaker-1 .speaker-info span:nth-child(4),
.session-content .day-3 .speaker-2 .speaker-info span:nth-child(2), 
.session-content .day-3 .speaker-2 .speaker-info span:nth-child(4) {
    color: #0b6623;
    margin: 10px;
}

Speaker 2
.session-content .day-1 .day-text, .session-content .day-1 .speaker-2, .session-content .day-2 .day-text, 
.session-content .day-2 .speaker-2, .session-content .day-3 .day-text, .session-content .day-3 .speaker-2 {
    padding: 10px;
}

.session-content .day-1 .speaker-2 .speaker-image, .session-content .day-2 .speaker-2 .speaker-image, 
.session-content .day-3 .speaker-2 .speaker-image  {
    display: flex;
    padding: 20px;
}
.session-content .day-1 .speaker-2 .speaker-image img, .session-content .day-2 .speaker-2 .speaker-image img, 
.session-content .day-3 .speaker-2 .speaker-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #7bdd95;
}

.session-content .day-1 .speaker-2 .speaker-info, .session-content .day-2 .speaker-2 .speaker-info, 
.session-content .day-3 .speaker-2 .speaker-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
}
.session-content .day-1 .speaker-2 .speaker-info p, .session-content .day-2 .speaker-2 .speaker-info p, 
.session-content .day-3 .speaker-2 .speaker-info p {
    text-align: right;
}

#expand {
    color: green;
    display: none;
} 

#expand {
        color: green;
        display: block;
    }

    #hashLink {
        display: none;
    }
    
    #hashLink:target {
        display: block;
    }

    .session-content .day-1 .day-text, .session-content .day-2 .day-text, 
    .session-content .day-3 .day-text {
        margin: 0;
        text-align: center;
    }

    .session-content .day-1 .speaker-1, .session-content .day-2 .speaker-1, .session-content .day-3 .speaker-1,   
    .session-content .day-1 .speaker-2, .session-content .day-2 .speaker-2, .session-content .day-3 .speaker-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: whitesmoke;
        border-radius: 10px;
        border: lightgrey 2px solid;
        margin: 5px;
    }

    .session-content .day-1 .speaker-1 .speaker-info, .session-content .day-2 .speaker-1 .speaker-info, 
    .session-content .day-3 .speaker-1 .speaker-info, .session-content .day-1 .speaker-2 .speaker-info, 
    .session-content .day-2 .speaker-2 .speaker-info, .session-content .day-3 .speaker-2 .speaker-info {
        align-items: center;
        text-align: center;
    }
     
    .session-content .day-1 .speaker-1 .speaker-info span:nth-child(4),     
    .session-content .day-1 .speaker-2 .speaker-info span:nth-child(4), 
    .session-content .day-2 .speaker-1 .speaker-info span:nth-child(4), 
    .session-content .day-2 .speaker-2 .speaker-info span:nth-child(4), 
    .session-content .day-3 .speaker-1 .speaker-info span:nth-child(4), 
    .session-content .day-3 .speaker-2 .speaker-info span:nth-child(4) {
        color: black;
        font-size: 11px;
        font-weight: bolder;
    }

    Sessions page
    .session-content .day-1 .speaker-2 .speaker-info p, .session-content .day-2 .speaker-2 .speaker-info p, 
    .session-content .day-3 .speaker-2 .speaker-info p, .session-content .day-1 .speaker-1 .speaker-info p, 
    .session-content .day-2 .speaker-1 .speaker-info p, .session-content .day-3 .speaker-1 .speaker-info p  {
        display: none;
    }



*/