@import 'https://fonts.googleapis.com/css?family=Poppins';

*{
    font-family: Poppins, sans-serif;
}

body.light {
    background-color: #f5f5f5;
    color: #222222;
}
  
body.dark {
    background-color: #222222;
    color: #f5f5f5;
}
  
body {
    padding: 20px;
    margin: 0;
    border: 0;
    background-color: #f5f5f5;
    transition: all 0.3s;
}
  
h1 {
    color: inherit;
    font-size: 25px; 
}

button {
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #2c405e;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
button:focus{
    outline-style: none;
}